body {
  background-color: rgb(206, 213, 223);
}
.Card {
  background-color: white;
  padding: 32px;
  margin-top: 25%;
  margin-left: 25%;
  margin-bottom: 200px;
  width: 50%;
  display: flex;

  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
}
.landingCard {
  background-color: white;
  margin-top: 25%;
  padding: 30px;
  margin-bottom: 300px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
}

.navbar ul {
  display: flex;
}

.navbar h1 {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--primary-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}
.upload {
  margin-left: 60%;
}

.footer {
  height: 100px;

  width: 100%;
  background-color: #494e53;
  color: #fff;
}
